In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
xlsx = pd.ExcelFile('AMPCapstoneProject2022-1.xlsx')

In [8]:
dfb = pd.read_excel(xlsx, 'Buildings')
df1 = pd.read_excel(xlsx, 'Date Range 1')
df2 = pd.read_excel(xlsx, 'Date Range 2')
df3 = pd.read_excel(xlsx, 'Date Range 3')

In [10]:
# Buildings
dfb

   BLDG                           Name     GSF  Year_Built Primary_Use
0   202                    OLSSON HALL   73882        1960      Office
1   203        ALBERT H SMALL BUILDING   10526        1948      Office
2   204                  THORNTON HALL  166953        1936      Office
3   214                      RICE HALL  104604        2011    Research
4   222  CHEMICAL ENGINEERING RESEARCH   28878        1992    Research
5   259         MECHANICAL ENGINEERING   71088        1971   Classroom
6   267                  WILSDORF HALL   97838        2006    Research
7   270                    JESSER HALL   35179        1985    Research

In [15]:
#combine the 3 date range tables together
df = pd.concat([df1, df2, df3])

In [16]:
df.shape

(836088, 10)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 836088 entries, 0 to 280255
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Timestamp     836088 non-null  datetime64[ns]
 1   BLDG          836088 non-null  int64
 2   Name          836088 non-null  object
 3   Point         836088 non-null  object
 4   Min Value     836088 non-null  float64
 5   Max Value     836088 non-null  float64
 6   Avg Value     836088 non-null  float64
 7   Last Value    836088 non-null  float64
 8   Total         836088 non-null  float64
 9   Sample Count  836088 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(2), object(2)
memory usage: 70.2+ MB

In [20]:
df.describe()

,BLDG,Min Value,Max Value,Avg Value,Last Value,Total,Sample Count
count,836088.000000,836088.000000,836088.000000,836088.000000,836088.000000,836088.000000,836088.000000
mean,230.117198,319.818161,418.755976,365.036196,364.833554,4377.966308,11.991080
std,28.104045,587.176422,720.642873,644.078710,648.911129,7726.829619,0.236194
min,202.000000,-5307.460000,-1314.599000,-1339.526000,-1348.710000,-16074.320000,1.000000
25%,204.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.000000
50%,214.000000,92.900645,138.784350,118.112200,116.522100,1416.039000,12.000000
75%,259.000000,423.000000,522.000000,465.570350,464.000000,5584.000000,12.000000
max,270.000000,7366.501000,9520.000000,7907.650000,7928.255000,94891.800000,12.000000

In [ ]:
# clean up